html {
  overflow-y: scroll;
}

html,
body {
  background-color:#333;
  color:#fff;
  font-family:Tahoma;
  margin:0;
}

.grid {
  margin:1% 0 0 1%;
  padding:0 0 1% 0;
}

.grid-sizer {
  width: 24%;
}

.gutter-sizer {
  width: 1%;
}

.grid-item {
  background: #e6e5e4;
  color:#000;
  float: left;
}
.grid-item--width2 {
  width: 49%;
}

/* Copied from Packery documentation */
.packery-drop-placeholder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
