## There's no need for all of the node-modules in my repo, we can just install these when needed using package.json ##
node_modules/

## I have my plugins and details in the folders for testing during development, but they shouldn't be committed. Currently, there is only a introduction plugin and detail in the repo that should stay. ##
modules/
