@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);
* { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; }

@keyframes problem-slidein {
  0% {
    transform:translateX(103%);
  }
  4% {
    transform:translateX(105%);
  }
  8% {
    transform:translateX(107%);
  }
  92% {
    transform:translateX(-4%);
  }
  96% {
    transform:translateX(-2%);
  }
  100% {
    transform:translateX(0%);
  }
}

/* So bootstrap applies box-sixing: border-box; to *, *::before, *::after - which messes with how the padding is applied so here I change it as I don't need the box-sizing to make a grid */
*, *::before, *::after {
  box-sizing: initial;
}

body {
  background-color: #FAFAFA;
}

.alert {
  white-space: pre-wrap;
}


h1, h2 {
  font-weight: 200;
}

h3, h4 {
  font-weight: 100;
}

.grid {
  margin: 12px 0 0 12px;
  padding: 0 0 12px 0;
}

.grid-sizer {
  width: 50px;
}

.gutter-sizer {
  width: 12px;
}

#window-decoration {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  width: 100%;
}
#window-buttons {
  -webkit-app-region: no-drag;
  float: right;
  cursor: default;
}
#window-buttons {
  float: right;
}
#window-buttons #close:hover {
  background-color: #f54242;
}

.popup-list {
  position:fixed;
  list-style:none;
  top:36px;
  right:12px;
  min-width:350px;
  width:20%;
  padding:0;
  margin:0;
}
  .popup-list li {
    margin: 10px 0 10px 0;
  }
  .popup-list li:first-child {
    margin-top:0;
  }
  .popup-list .popup-icon {
    margin:2px 10px 0 5px;
    float:left;
  }
  .popup-list .popup-exit {
    position:absolute;
    top:1%;
    right:1%;
    margin:5px;
    cursor:pointer;
  }
  .popup-list p {
    margin:10px 5px 10px 5px;
    padding-bottom:5px;
    overflow-wrap:break-word;
  }
.problem-animation-run {
  animation: problem-slidein 0.5s forwards;
}

/* Copied from Packery documentation */
.packery-drop-placeholder {
  outline: 3px dashed #ededed;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
